*{
    padding: 0px;
    margin:0px;
}

.error{
    text-align: center;
    color: red;
    background-color: rgba(247, 154, 154, 0.43);
    padding: 0.6em;
    border-radius: 8px;
    margin: 5px 10px;
}

.loading {
    position: absolute;
    top: 38%;
    left: 46%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 4em;
    width:4em ;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin infinite 1s linear;
    background-color: transparent;
    border-radius:75%;
    border-top: 5px solid black;
  }
  .loading:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .loading.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 600px) {

    .loading{
        top: 33%;
        left: 39%;
    }
    
  }