.discount_container{
    display: flex;
    padding: 0.9em 2.25em;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    margin-top: 6.8em;
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

