.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(24,24,24);
    color: white;
    padding: 1.1em;
    width: 100%;
}