.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
   padding-bottom: 4em;
    
    
}

.form_container form{
    display: flex;
    flex-direction: column;
    

}

.form_container input{
    display: block;
    padding: 1.55em 1.75em 1.55em 13px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 75vw;
    
}

.form_container button{
    margin: 17px 55px;
    padding: 0.75em 0.5em;
    border-radius: 8px;
    background-color: rgb(14, 14, 14);
    color: white;
    font-size: 1em;
}
.form_container button:hover{
    background-color: rgb(62, 62, 62);
    transition: 170ms;

}

.form_container span{
    margin: auto;
    border-bottom: 1px solid rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    
}

.form_container span:hover{
    color: rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);;
}

h1{
    font-size:3em
}


@media (min-width:768px) {
    .form_container input{
        width: 450px;
    }
    .form_container button{
        margin: 25px 100px 17px 100px;
    }
    
}