.product_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0em 2em 4em 2em;
    gap: 2em;
    
}

.img_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: rgb(244, 244, 244);
    padding: 10px 3px 0px;
    border-radius: 3px;
}

.img_container span{
    font-size: 32px;
}
.img_container span:hover{
    cursor: pointer;
    transition: 300ms;

}

.img_container img{
    width: 80vw;
    z-index: 0;
}

.apresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: rgb(63, 63, 63);
    padding: 2em;
    margin: 5em 1em 7em 1em;
    font-size: 1.15em;
}

.product_info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 530px;
}

.product_info button.buyNow {
    display: flex;
    background-color: black;
    color: white;
    padding: 1em 1.5em;
    border-radius: 18px;
    margin: 10px 0px;
    border-color: black;
}

.product_info button.buyNow:hover{
    background-color: rgb(51, 51, 51);
    transition: 250ms;
    cursor: pointer;
}

.product_info button.addShop {
    display: flex;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    border-radius: 18px;
    margin: 10px 0px;
    border-color: black;
}

.product_info button.addShop:hover{
    background-color: rgb(227, 227, 227);
    transition: 250ms;
    cursor: pointer;
}


@media (min-width:600px) {
    .img_container img{
        width:475px;
        
    }
    .img_container{
        width: 93vw;
        padding: 0px 10px;
    }
    .product_container {
        margin: 0px 0px 4em 0px;
    }
    
}


@media (min-width:1000px) {
    .product_container{
        flex-direction: row;
        margin: 2.25em 1.25em 4em 0em;
        justify-content: start;
        align-items: start;
        gap: 5rem;
    }

    .product_info{
        margin-top: 1em;
    }

    .img_container{
        padding: 1px 1.5em;
        width: 45%;
        justify-content: center;
    }

    .img_container img{
        width:480px;
        
    }
    
}

@media (min-width:1200px) {
    .img_container{
        justify-content: space-between;
        
    }
    
}

@media (max-width:440px) {
    .img_container{
        height: 70vh;
    }
    
}












